[submodule "collect-csi-data/esp32-csi"]
	path = collect-csi-data/esp32-csi
	url = https://github.com/StevenMHernandez/ESP32-CSI-Tool.git
[submodule "data"]
	path = data
	url = https://github.com/espressif/esp-csi.git
